@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Barlow+Condensed:wght@700;900&display=swap');

@layer base {
  body {
    background-color: #fdf6ee;
  }
}

@theme {
  --font-mono: 'Space Mono', monospace;
  --font-barlow: 'Barlow Condensed', sans-serif;
}